<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php" colors="true" cacheDirectory="var/phpunit"
         failOnWarning="true" failOnRisky="true">
    <testsuites>
        <testsuite name="acceptance"><directory>tests/Acceptance</directory></testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="0" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
    </php>
    <logging><junit outputFile="var/acceptance-junit.xml"/></logging>
</phpunit>
